.CTA_text__6wAcX {
    overflow: hidden;
    vertical-align: top
}

.CTA_text__6wAcX:after,.CTA_text__6wAcX:before {
    background-color: currentColor;
    bottom: 0;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    transition: transform .7s cubic-bezier(.19,1,.22,1);
    width: 100%
}

.CTA_text__6wAcX:before {
    transform: scaleX(0);
    transform-origin: right center;
    transition-delay: .3s
}

.CTA_text__6wAcX:after,.CTA_text__6wAcX:hover:before {
    transform: scaleX(1);
    transform-origin: left center
}

.CTA_text__6wAcX:hover:after {
    transform: scaleX(0);
    transform-origin: right center
}

.CTA_element__E9wVS {
    align-items: center;
    cursor: pointer;
    display: flex;
    white-space: nowrap
}

.CTA_element--modal__gOwbs {
    flex-direction: row-reverse;
    justify-content: flex-end
}

@media(max-width: 768px) {
    .CTA_element--modal__gOwbs {
        margin-top:4rem
    }
}

.CTA_element--social__UoSW3 {
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin-right: 6rem
}

@media(max-width: 768px) {
    .CTA_element--social__UoSW3 {
        margin-top:4rem;
        margin-right: 0
    }
}

.CTA_text__6wAcX {
    position: relative;
    margin-right: 1rem;
    margin-top: -.6rem;
    display: inline-block;
    font-size: 3.2rem;
    font-weight: 500
}

.CTA_element__E9wVS:hover .CTA_text__6wAcX:before,.GalleryItem:hover .CTA_text__6wAcX:before {
    transform: scaleX(1);
    transform-origin: left center
}

.CTA_element__E9wVS:hover .CTA_text__6wAcX:after,.GalleryItem:hover .CTA_text__6wAcX:after {
    transform: scaleX(0);
    transform-origin: right center
}

.Careers .CTA_text__6wAcX {
    margin-top: 0
}

.Careers .CTA_text__6wAcX:after,.Careers .CTA_text__6wAcX:before {
    display: none
}

.Leadership .CTA_text__6wAcX {
    font-size: 2.5rem;
    font-weight: 400;
    margin-right: 2rem
}

@media(max-width: 768px) {
    .Leadership .CTA_text__6wAcX {
        font-size:3.5rem
    }
}

.CTA_element--modal__gOwbs .CTA_text__6wAcX {
    margin-top: -.3rem;
    margin-right: 0;
    margin-left: .8rem;
    font-size: 2rem;
    font-weight: 400;
    line-height: 2.8rem
}

@media(max-width: 768px) {
    .CTA_element--modal__gOwbs .CTA_text__6wAcX {
        font-size:3.4rem
    }
}

.CTA_element--social__UoSW3 .CTA_text__6wAcX {
    margin-top: -.3rem;
    margin-right: 0;
    margin-left: 1rem;
    font-size: 2.1rem;
    font-weight: 400
}

@media(max-width: 768px) {
    .CTA_element--social__UoSW3 .CTA_text__6wAcX {
        font-size:3.4rem
    }
}

.CTA_element--small__EbjcU .CTA_text__6wAcX {
    font-size: 2rem;
    margin-right: 2.5rem
}

.CTA_icons__eDAAU {
    color: #fff;
    width: 5.1rem;
    height: 5.1rem;
    overflow: hidden;
    border-radius: 50%;
    background-color: #000
}

.CTA_icons--border__mgy1a,.Careers .CTA_icons__eDAAU,.NavigationMenu .CTA_icons__eDAAU {
    border: 1px solid #fff
}

.Leadership .CTA_icons__eDAAU {
    border: none
}

.CTA_element--modal__gOwbs .CTA_icons__eDAAU {
    width: 3.4rem;
    height: 3.4rem;
    background-color: inherit;
    border: none
}

@media(max-width: 768px) {
    .CTA_element--modal__gOwbs .CTA_icons__eDAAU {
        width:5.8rem;
        height: 5.8rem
    }
}

.CTA_element--social__UoSW3 .CTA_icons__eDAAU {
    width: 2.4rem;
    height: 2.4rem;
    background-color: inherit;
    border: none;
    border-radius: 0
}

@media(max-width: 768px) {
    .CTA_element--social__UoSW3 .CTA_icons__eDAAU {
        width:5.8rem;
        height: 5.8rem
    }
}

.CTA_element--small__EbjcU .CTA_icons__eDAAU {
    border: 1px solid #fff;
    border-radius: 50%;
    height: 2.8rem;
    width: 2.8rem
}

.CTA_icon__DbxC9 {
    display: flex;
    height: 100%;
    transform: translateX(-50%);
    transition: transform .7s cubic-bezier(.19,1,.22,1);
    width: 200%
}

.CTA_element__E9wVS:hover .CTA_icon__DbxC9,.GalleryItem:hover .CTA_icon__DbxC9 {
    transform: translateX(0)
}

.CTA_icon--email__6XzgX,.CTA_icon--linkedin__UBQqZ,.CTA_icon--twitter__bC0lq,.CTA_icon--website__N9DiS {
    background-color: #eee7e3;
    border: none
}

.CTA_icon__wrapper__Jy2PO {
    display: block;
    height: 100%;
    position: relative;
    width: 50%
}

.CTA_icon__media__fXRfu {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 60%;
    width: 60%;
    transform: translate(-50%,-50%)
}

.CTA_icon--play__T_SsW .CTA_icon__media__fXRfu {
    height: 40%;
    width: 40%;
    transform: translate(-45%,-50%)
}

.Text_element__gHENg p:not(:first-child) {
    margin-top: 2.5rem
}

.Text_left-align__vnDV5 {
    text-align: left
}

.Text_center-align__xNn4H {
    text-align: center
}

.Text_right-align__5Sah5 {
    text-align: right
}

.Text_helvetica-132-bold__wvv1o {
    font-family: Helvetica Now Display;
    font-size: 13.2rem;
    font-weight: 700;
    letter-spacing: -.02em;
    line-height: .9
}

@media(max-width: 768px) {
    .Text_helvetica-132-bold__wvv1o {
        font-size:7rem
    }
}

.Text_helvetica-120-bold__mDrk4 {
    font-family: Helvetica Now Display;
    font-size: 12rem;
    font-weight: 700;
    letter-spacing: -.02em;
    line-height: 1
}

@media(max-width: 768px) {
    .Text_helvetica-120-bold__mDrk4 {
        font-size:7rem
    }
}

.Text_helvetica-106-bold__We9Ch {
    font-family: Helvetica Now Display;
    font-size: 10.6rem;
    font-weight: 700;
    letter-spacing: -.02em;
    line-height: 1
}

@media(max-width: 768px) {
    .Text_helvetica-106-bold__We9Ch {
        font-size:7rem
    }
}

.Text_helvetica-96-bold__ggSLV {
    font-family: Helvetica Now Display;
    font-size: 9.6rem;
    font-weight: 700;
    letter-spacing: -.02em;
    line-height: 1
}

@media(max-width: 768px) {
    .Text_helvetica-96-bold__ggSLV {
        font-size:7rem
    }
}

.Text_helvetica-90-bold__GUE8x {
    font-family: Helvetica Now Display;
    font-size: 9rem;
    font-weight: 700;
    letter-spacing: -.02em;
    line-height: .922
}

@media(max-width: 768px) {
    .Text_helvetica-90-bold__GUE8x {
        font-size:7rem
    }
}

.Text_helvetica-62-bold__FHODW {
    font-family: Helvetica Now Display;
    font-size: 6.2rem;
    font-weight: 700;
    letter-spacing: -.02em;
    line-height: 1.05
}

@media(max-width: 768px) {
    .Text_helvetica-62-bold__FHODW {
        font-size:5.2rem
    }
}

.Text_helvetica-62__whl0q {
    font-family: Helvetica Now Display;
    font-size: 6.2rem;
    letter-spacing: -.02em;
    line-height: 1.05
}

@media(max-width: 768px) {
    .Text_helvetica-62__whl0q {
        font-size:5.2rem
    }
}

.Text_helvetica-56-bold__CrQUb {
    font-family: Helvetica Now Display;
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 6.5rem
}

.Text_helvetica-55__fxIBd {
    font-family: Helvetica Now Display;
    font-size: 5.5rem;
    letter-spacing: -.05rem;
    line-height: 1.1
}

.Text_helvetica-48__kv3F4 {
    font-family: Helvetica Now Display;
    font-size: 4.8rem;
    line-height: 1.35
}

.Text_helvetica-42__l0lAH {
    font-family: Helvetica Now Display;
    font-size: 4.2rem;
    font-weight: 500;
    line-height: 1
}

@media(max-width: 768px) {
    .Text_helvetica-42__l0lAH {
        font-size:4.8rem
    }
}

.Text_helvetica-32__Pg1O_ {
    font-family: Helvetica Now Display;
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.3125
}

@media(max-width: 768px) {
    .Text_helvetica-32__Pg1O_ {
        font-size:4.8rem
    }
}

.Text_helvetica-32-bold__ClZfp {
    font-family: Helvetica Now Display;
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 1.3125
}

@media(max-width: 768px) {
    .Text_helvetica-32-bold__ClZfp {
        font-size:4.8rem
    }
}

.Text_helvetica-32-mid__3vYNY {
    font-family: Helvetica Now Display;
    font-size: 3.2rem;
    font-weight: 400;
    line-height: 1.3125
}

@media(max-width: 768px) {
    .Text_helvetica-32-mid__3vYNY {
        font-size:4.8rem
    }
}

.Text_helvetica-26__KYqKg {
    font-family: Helvetica Now Display;
    font-size: 2.8rem;
    font-weight: 400;
    line-height: 4.1rem
}

@media(max-width: 768px) {
    .Text_helvetica-26__KYqKg {
        font-size:4.4rem
    }
}

.Text_helvetica-24__mQTGt {
    font-family: Helvetica Now Display;
    font-size: 2.4rem;
    line-height: 1.5
}

@media(max-width: 768px) {
    .Text_helvetica-24__mQTGt {
        font-size:4rem
    }
}

.Text_helvetica-24-bold__NqXdJ {
    font-family: Helvetica Now Display;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.5
}

@media(max-width: 768px) {
    .Text_helvetica-24-bold__NqXdJ {
        font-size:4rem
    }
}

.Text_helvetica-22__2etH0 {
    font-family: Helvetica Now Display;
    font-size: 2.2rem;
    line-height: 1.8
}

@media(max-width: 768px) {
    .Text_helvetica-22__2etH0 {
        font-size:3.8rem
    }
}

.Text_helvetica-22-bold__hI2Mf {
    font-family: Helvetica Now Display;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1.4
}

@media(max-width: 768px) {
    .Text_helvetica-22-bold__hI2Mf {
        font-size:3.8rem
    }
}

.Text_helvetica-20__bsjIF {
    font-family: Helvetica Now Display;
    font-size: 2rem;
    line-height: 1.5
}

@media(max-width: 768px) {
    .Text_helvetica-20__bsjIF {
        font-size:3.6rem
    }
}

.Text_helvetica-20-bold__O_RJW {
    font-family: Helvetica Now Display;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.05
}

@media(max-width: 768px) {
    .Text_helvetica-20-bold__O_RJW {
        font-size:3.6rem
    }
}

.Text_helvetica-14__Aqjlr {
    font-family: Helvetica Now Display;
    font-size: 1.4rem;
    line-height: 1.5
}

@media(max-width: 768px) {
    .Text_helvetica-14__Aqjlr {
        font-size:2rem
    }
}

.Text_tiempos-headline-62__H4sO4 {
    font-family: Tiempos Headline;
    font-size: 6.2rem;
    line-height: 1.05
}

.Text_person-title__R22kT {
    font-family: Helvetica Now Display;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.5
}

@media(max-width: 768px) {
    .Text_person-title__R22kT {
        font-size:4.4rem
    }
}

.Text_person-role__2ABjr {
    font-family: Helvetica Now Display;
    font-size: 2.4rem;
    line-height: 1.5
}

@media(max-width: 768px) {
    .Text_person-role__2ABjr {
        font-size:3.4rem
    }
}

.Text_person-title-modal__KGuGR {
    font-family: Helvetica Now Display;
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 6.5rem
}

.Text_person-role-modal__YNu_7 {
    font-family: Helvetica Now Display;
    font-size: 2.8rem;
    line-height: 4.1rem
}

@media(max-width: 768px) {
    .Text_person-role-modal__YNu_7 {
        font-size:4rem
    }
}

.Text_person-title-page__u_cHC {
    font-family: Helvetica Now Display;
    font-size: 12rem;
    font-weight: 700;
    line-height: 12rem;
    letter-spacing: -2.4px
}

@media(max-width: 768px) {
    .Text_person-title-page__u_cHC {
        font-size:5rem;
        line-height: 4.3rem;
        letter-spacing: -.02em
    }
}

.Text_person-role-page__vX1Wj {
    font-family: Helvetica Now Display;
    font-size: 4rem;
    font-weight: 500;
    line-height: 6.5rem
}

@media(max-width: 768px) {
    .Text_person-role-page__vX1Wj {
        font-size:3.5rem;
        line-height: 3.4rem
    }
}

.ImageAsset_element__2U_Bd {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    position: relative;
    overflow: hidden;
    transform: translateZ(0)
}

.ImageAsset_image__KMeYq {
    flex: 1 1;
    object-fit: cover;
    max-height: 100%;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity 1s cubic-bezier(.77,0,.175,1)
}

.Animated--in.ImageAsset_element--loaded__RPEL9 .ImageAsset_image__KMeYq {
    opacity: 1
}

@media(max-width: 768px) {
    .Article .ImageAsset_image__KMeYq {
        display:block;
        margin: 0 auto;
        width: 72rem;
        height: 100%
    }
}

.Footer_wrapper__KxjX4 {
    margin: auto;
    width: 144rem;
    max-width: 100vw
}

@media(min-width: 1025px)and (max-width:1440px) {
    .Footer_wrapper__KxjX4 {
        width:calc(100vw - 18px)
    }
}

@media(min-width: 769px)and (max-width:1024px) {
    .Footer_wrapper__KxjX4 {
        width:calc(100% - 10px);
        column-gap: 16px
    }
}

@media(max-width: 768px) {
    .Footer_wrapper__KxjX4 {
        width:71rem
    }
}

.Footer_footer__link__0KikA,.Footer_main__column__Q6i90:last-child .Footer_main__link___IsA3,.Footer_main__column__Q6i90:not(:last-child) .Footer_main__link___IsA3 {
    display: inline-block;
    overflow: hidden;
    position: relative;
    vertical-align: top
}

.Footer_footer__link__0KikA:after,.Footer_main__column__Q6i90:not(:last-child) .Footer_main__link___IsA3:after {
    background-color: currentColor;
    bottom: 0;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    transition: transform .7s cubic-bezier(.19,1,.22,1);
    width: 100%;
    transform: scaleX(0);
    transform-origin: right center
}

.Footer_footer__link__0KikA:hover:after,.Footer_main__column__Q6i90:not(:last-child) .Footer_main__link___IsA3:hover:after {
    transform: scaleX(1);
    transform-origin: left center
}

.Footer_main__column__Q6i90:last-child .Footer_main__link___IsA3 {
    display: inline-block
}

.Footer_main__column__Q6i90:last-child .Footer_main__link___IsA3:after,.Footer_main__column__Q6i90:last-child .Footer_main__link___IsA3:before {
    background-color: currentColor;
    bottom: 0;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    transition: transform .7s cubic-bezier(.19,1,.22,1);
    width: 100%
}

.Footer_main__column__Q6i90:last-child .Footer_main__link___IsA3:before {
    transform: scaleX(0);
    transform-origin: right center;
    transition-delay: .3s
}

.Footer_main__column__Q6i90:last-child .Footer_main__link___IsA3:after,.Footer_main__column__Q6i90:last-child .Footer_main__link___IsA3:hover:before {
    transform: scaleX(1);
    transform-origin: left center
}

.Footer_main__column__Q6i90:last-child .Footer_main__link___IsA3:hover:after {
    transform: scaleX(0);
    transform-origin: right center
}

.Footer_footer__link__0KikA,.Footer_main__column__Q6i90:not(:last-child) .Footer_main__link___IsA3 {
    display: inline-block
}

.Footer_element__ruPAE {
    background-color: #000;
    color: #fff;
    padding: 14rem 2rem
}

.Footer_logo__By_cG {
    display: block;
    font-size: 0;
    margin-bottom: auto;
    width: 13.5rem
}

@media(max-width: 768px) {
    .Footer_logo__By_cG {
        margin-bottom:15rem;
        width: 20.5rem
    }
}

.Footer_main__wRzjb,.Footer_wrapper__KxjX4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}

.Footer_main__wRzjb {
    width: 74rem;
    margin-right: 2rem
}

.Footer_main__column__Q6i90:nth-child(1n+5) {
    margin-top: 5.5rem;
    width: 100%
}

@media(max-width: 768px) {
    .Footer_main__column__Q6i90 {
        width:50%
    }

    .Footer_main__column__Q6i90:nth-child(2n) {
        width: 45%
    }

    .Footer_main__column__Q6i90:nth-child(1n+3) {
        margin-top: 10rem
    }
}

.Footer_main__title__8iowz {
    min-height: 2.2rem;
    margin-bottom: 2rem;
    overflow: hidden;
    position: relative;
    text-transform: uppercase
}

@media(max-width: 768px) {
    .Footer_main__title__8iowz {
        font-size:2.2rem;
        letter-spacing: .05em
    }
}

.Footer_main__title__text__WzcQt {
    display: block;
    transition: transform .7s cubic-bezier(.19,1,.22,1)
}

.Footer_main__title--copy__CRTj_ .Footer_main__title__text__WzcQt {
    transform: translateY(-100%)
}

.Footer_main__title__copy__EhRjQ {
    left: 0;
    position: absolute;
    top: 0;
    transform: translateY(100%);
    transition: transform .7s cubic-bezier(.19,1,.22,1)
}

.Footer_main__title--copy__CRTj_ .Footer_main__title__copy__EhRjQ {
    transform: translateY(0)
}

.Footer_main__item__Fj2MX {
    list-style-type: none
}

.Footer_main__item__Fj2MX:not(:first-child) {
    margin-top: .6rem
}

@media(max-width: 768px) {
    .Footer_main__item__Fj2MX {
        margin-top:5rem
    }
}

.Footer_main__column__Q6i90:not(:last-child) .Footer_main__link___IsA3 {
    cursor: pointer
}

@media(max-width: 768px) {
    .Footer_main__link___IsA3 {
        font-size:2.9rem;
        letter-spacing: .05em
    }
}

.Footer_footer__Dhw_9 {
    width: 100%;
    max-width: 100vw;
    margin-top: 14rem;
    display: flex;
    align-items: center;
    justify-content: space-between
}

@media(max-width: 768px) {
    .Footer_footer__Dhw_9 {
        align-items:flex-start;
        flex-direction: column-reverse
    }

    .Footer_footer__copyright__pZOgD {
        font-size: 2rem;
        margin-top: 7.5rem;
        width: 100%
    }
}

.Footer_footer__list__9Bd7F {
    width: 74rem;
    margin-right: 2rem;
    align-items: center;
    display: flex
}

.Footer_footer__item__DJ74C {
    list-style-type: none
}

.Footer_footer__item__DJ74C:not(:first-child) {
    margin-left: 5rem
}

@media(max-width: 768px) {
    .Footer_footer__link__0KikA {
        font-size:2rem
    }
}

.NavigationMenuItem_element__M5BiY {
    position: relative
}

.NavigationMenuItem_element__M5BiY:after {
    border-bottom: 1px solid hsla(0,0%,100%,.2);
    content: "";
    left: 4rem;
    position: absolute;
    right: 4rem
}

@media(min-width: 414px)and (max-width:1023px)and (orientation:landscape) {
    .NavigationMenuItem_element__M5BiY:after {
        left:20px;
        right: 20px
    }
}

.NavigationMenuItem_header__kEpxA {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 6rem 4rem
}

@media(min-width: 414px)and (max-width:1023px)and (orientation:landscape) {
    .NavigationMenuItem_header__kEpxA {
        padding:30px 20px
    }

    .NavigationMenuItem_header__title__xybC5 {
        font-size: 21px
    }
}

.NavigationMenuItem_header__icon__9MEQW {
    height: 3.2rem;
    position: relative;
    width: 3.2rem
}

.NavigationMenuItem_header__icon__9MEQW:after,.NavigationMenuItem_header__icon__9MEQW:before {
    background-color: #fff;
    content: "";
    position: absolute
}

.NavigationMenuItem_header__icon__9MEQW:before {
    height: 100%;
    left: 50%;
    margin-left: -1px;
    transition: transform 1s cubic-bezier(.77,0,.175,1);
    width: 2px
}

.NavigationMenuItem_header__icon__9MEQW:after {
    height: 2px;
    top: 50%;
    margin-top: -1px;
    width: 100%
}

.NavigationMenuItem_element--active__IzfQN .NavigationMenuItem_header__icon__9MEQW:before {
    transform: scaleY(0)
}

@media(min-width: 414px)and (max-width:1023px)and (orientation:landscape) {
    .NavigationMenuItem_header__icon__9MEQW {
        height:16px;
        width: 16px
    }
}

.NavigationMenuItem_content__PR2b3 {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s cubic-bezier(.77,0,.175,1)
}

.NavigationMenuItem_element--active__IzfQN .NavigationMenuItem_content__PR2b3 {
    max-height: 115rem
}

.NavigationMenuItem_content__wrapper__bRPqH {
    opacity: 0;
    padding: 0 4rem 6rem;
    transition: opacity 1s cubic-bezier(.77,0,.175,1)
}

.NavigationMenuItem_element--active__IzfQN .NavigationMenuItem_content__wrapper__bRPqH {
    opacity: 1;
    transition-delay: .25s
}

@media(min-width: 414px)and (max-width:1023px)and (orientation:landscape) {
    .NavigationMenuItem_content__wrapper__bRPqH {
        padding:0 20px 40px
    }
}

.NavigationMenuItem_description__jDBf6 {
    border-bottom: 1px solid hsla(0,0%,100%,.2);
    margin-bottom: 6rem;
    padding-bottom: 6rem
}

@media(min-width: 414px)and (max-width:1023px)and (orientation:landscape) {
    .NavigationMenuItem_description__jDBf6 {
        font-size:12px;
        margin-bottom: 30px;
        padding-bottom: 30px
    }
}

.NavigationMenuItem_secondary__item__3QLHK:not(:first-child) {
    margin-top: 5rem
}

@media(min-width: 414px)and (max-width:1023px)and (orientation:landscape) {
    .NavigationMenuItem_secondary__item__3QLHK:not(:first-child) {
        margin-top:25px
    }
}

.NavigationMenuItem_secondary__link__rBoXa {
    font-size: 3.2rem
}

@media(min-width: 414px)and (max-width:1023px)and (orientation:landscape) {
    .NavigationMenuItem_secondary__link__rBoXa {
        font-size:16px
    }
}

.NavigationMenu_element__rJAs2 {
    background-color: #000;
    height: 100vh;
    left: 0;
    opacity: 0;
    padding-top: 15rem;
    position: absolute;
    top: 0;
    transform: translateY(-2.5rem);
    transition: opacity 1s cubic-bezier(.77,0,.175,1),transform 1s cubic-bezier(.77,0,.175,1),visibility 1s cubic-bezier(.77,0,.175,1);
    visibility: hidden;
    width: 100%
}

.NavigationMenu_element--active__Ir6OA {
    opacity: 1;
    transform: translateY(0);
    visibility: visible
}

@media(min-width: 414px)and (max-width:1023px)and (orientation:landscape) {
    .NavigationMenu_element__rJAs2 {
        padding-top:76px
    }
}

.NavigationMenu_wrapper__f9YXv {
    height: 100%;
    overflow: auto;
    pointer-events: auto
}

.NavigationMenu_careers__F55uW {
    align-items: center;
    border-bottom: 1px solid hsla(0,0%,100%,.2);
    display: flex;
    justify-content: space-between;
    padding: 6rem 4rem
}

.NavigationMenu_careers__icon__Lc_Wx {
    border: 1px solid #fff;
    border-radius: 50%;
    height: 5.4rem;
    padding: 1rem;
    width: 5.4rem
}

.NavigationMenu_list__l9nd9 {
    padding-bottom: 4rem
}

@media(min-width: 414px)and (max-width:1023px)and (orientation:landscape) {
    .NavigationMenu_list__l9nd9 {
        padding-bottom:20px
    }
}

.NavigationOverlay_sublist__link__gbUNd,.NavigationOverlay_submenu__link__20j7t,.NavigationOverlay_submenu__product__link__5gf2Q {
    overflow: hidden;
    position: relative;
    vertical-align: top
}

.NavigationOverlay_sublist__link__gbUNd:after,.NavigationOverlay_submenu__link__20j7t:after,.NavigationOverlay_submenu__product__link__5gf2Q:after {
    background-color: currentColor;
    bottom: 0;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    transition: transform .7s cubic-bezier(.19,1,.22,1);
    width: 100%;
    transform: scaleX(0);
    transform-origin: right center
}

.NavigationOverlay_sublist__link__gbUNd:hover:after,.NavigationOverlay_submenu__link__20j7t:hover:after,.NavigationOverlay_submenu__product__link__5gf2Q:hover:after {
    transform: scaleX(1);
    transform-origin: left center
}

.NavigationOverlay_sublist__link__gbUNd,.NavigationOverlay_submenu__link__20j7t,.NavigationOverlay_submenu__product__link__5gf2Q {
    display: inline-block
}

.NavigationOverlay_element__L7XZ_ {
    background-color: #000;
    border-bottom: 1px solid;
    height: 54.5rem;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    transition: opacity .5s cubic-bezier(.77,0,.175,1),transform .5s cubic-bezier(.77,0,.175,1),visibility .5s cubic-bezier(.77,0,.175,1);
    visibility: hidden;
    width: 100%;
    z-index: 2
}

.NavigationOverlay_element__L7XZ_:after {
    border-left: 1px solid #fff;
    bottom: 0;
    content: "";
    left: 56%;
    position: absolute;
    top: 9.6rem
}

.NavigationOverlay_element--active__cCuRI {
    opacity: 1;
    visibility: visible
}

@media(min-width: 1025px)and (max-width:1343px) {
    .NavigationOverlay_element__L7XZ_:after {
        top:68px
    }
}

@media(min-width: 1440px) {
    .NavigationOverlay_element__L7XZ_ {
        height:60rem
    }

    .NavigationOverlay_element__L7XZ_:after {
        left: 50%
    }
}

.NavigationOverlay_columns__N0xjE {
    opacity: 0;
    left: 0;
    position: absolute;
    top: 0;
    transform: translateY(-1rem);
    transition: transform .5s cubic-bezier(.77,0,.175,1);
    visibility: hidden;
    width: 100%
}

.NavigationOverlay_columns--active__Z3x96 {
    opacity: 1;
    transition-delay: 0s;
    visibility: visible
}

.NavigationOverlay_overlay--active__S7E5t .NavigationOverlay_columns__N0xjE {
    transform: translateY(0)
}

.NavigationOverlay_columns__wrapper__yLnv8 {
    display: flex;
    height: 54.5rem;
    padding-top: 9.6rem;
    width: 100%
}

@media(min-width: 1440px) {
    .NavigationOverlay_columns__wrapper__yLnv8 {
        height:60rem
    }
}

.NavigationOverlay_columns__column__Crrsk {
    pointer-events: auto
}

.NavigationOverlay_columns__column__Crrsk:first-child {
    padding: 8rem 6rem 8rem 34.6rem;
    width: 56%
}

@media(min-width: 1440px) {
    .NavigationOverlay_columns__column__Crrsk:first-child {
        padding:8rem 6rem 8rem 30rem;
        width: 50%
    }
}

.NavigationOverlay_columns__column__Crrsk:last-child {
    display: flex;
    padding: 8rem;
    width: 44%
}

@media(min-width: 1440px) {
    .NavigationOverlay_columns__column__Crrsk:last-child,.NavigationOverlay_columns__column__Crrsk:last-child .NavigationOverlay_submenu__nZJdC {
        width:50%
    }
}

.NavigationOverlay_description__zWtaL {
    color: #fff;
    width: 40rem
}

.NavigationOverlay_submenu__nZJdC:not(:first-child) {
    margin-left: 1rem
}

@media(min-width: 1440px) {
    .NavigationOverlay_submenu__nZJdC:not(:first-child) {
        margin-left:.5rem
    }
}

.NavigationOverlay_submenu__product__container__RulpW {
    width: 33%
}

.NavigationOverlay_submenu__product__container__RulpW:not(:first-child) {
    margin-left: .5rem
}

.NavigationOverlay_submenu__product__title__Iy7Fa,.NavigationOverlay_submenu__title__4iC3s {
    min-height: 2.2rem;
    margin-bottom: 1rem;
    text-transform: uppercase
}

.NavigationOverlay_submenu__product__title__Iy7Fa {
    width: 20rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.NavigationOverlay_submenu__item__UHSF4 {
    list-style-type: none
}

.NavigationOverlay_submenu__item__UHSF4:not(:first-child) {
    margin-top: .5rem
}

.NavigationOverlay_submenu__product__EEYok {
    list-style-type: none;
    width: 20rem
}

.NavigationOverlay_submenu__product__EEYok:not(:first-child) {
    margin-top: .5rem
}

.NavigationOverlay_submenu__link__20j7t {
    cursor: pointer
}

.NavigationOverlay_submenu__product__link__5gf2Q {
    cursor: pointer;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%
}

.NavigationOverlay_sublist__item__uoXo4 {
    list-style-type: none
}

.NavigationOverlay_sublist__item__uoXo4:not(:first-child) {
    margin-top: .8rem
}

.NavigationOverlay_sublist__link__gbUNd {
    cursor: pointer
}

.BackToTop_arrow_wrapper__Pe_0u {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 16px;
    right: 16px;
    background-color: #000;
    border-radius: 100%;
    padding: 18px;
    cursor: pointer;
    z-index: 99;
    opacity: 0;
    transition: opacity .5s ease
}

.BackToTop_arrow__MtiMW {
    transform: rotate(-90deg)
}

.BackToTop_arrow__MtiMW path {
    fill: #fff
}

.SanityBlock_element__IyFo1 a {
    text-decoration: underline;
    transition: opacity 1s cubic-bezier(.77,0,.175,1)
}

.SanityBlock_element__IyFo1 a:hover {
    opacity: .5
}

.SanityBlock_element__IyFo1 a.SanityBlock_internalLink__X6Vg7 {
    position: absolute;
    margin-top: 0;
    display: block;
    font-size: 0;
    z-index: 1
}

.SanityBlock_element__IyFo1 p {
    margin-bottom: 1.5rem
}

.PressArticle_image__6NPWW {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%
}

.PressArticle_element__70zqI {
    opacity: 0;
    transform: translateY(2.5rem)
}

.PressArticle_element__70zqI.Animated--in {
    opacity: 1;
    transform: translateY(0);
    transition: opacity .5s cubic-bezier(.77,0,.175,1),transform .5s cubic-bezier(.77,0,.175,1)
}

.Scrolling .PressArticle_element__70zqI.Animated--in {
    transition: opacity 1s cubic-bezier(.77,0,.175,1),transform 1s cubic-bezier(.77,0,.175,1);
    transition-delay: .5s
}

.PressArticle_element__70zqI {
    cursor: pointer;
    position: relative
}

.PressArticle_element--inline__q19DN {
    width: 33.33%
}

@media(max-width: 1024px) {
    .PressArticle_element--inline__q19DN {
        width:100%
    }

    .PressArticle_element--inline__q19DN:last-child .PressArticle_wrapper__CBVQs {
        border: none
    }
}

.PressArticle_element--card__OU4Pe {
    margin-bottom: 10rem;
    padding-bottom: 2.4rem;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid
}

@media(max-width: 768px) {
    .PressArticle_element--highlight__ffyQb,.PressArticle_element--inline__q19DN {
        width:100%
    }
}

.PressArticle_wrapper__CBVQs {
    display: flex;
    justify-content: space-between;
    gap: 14px
}

.PressArticle_element--highlight__ffyQb .PressArticle_wrapper__CBVQs {
    flex-direction: column-reverse;
    justify-content: flex-end;
    flex-flow: row;
    margin-top: 36px
}

.PressArticle_element--inline__q19DN .PressArticle_wrapper__CBVQs {
    display: flex;
    flex-flow: column;
    height: 100%
}

@media(max-width: 1024px) {
    .PressArticle_element--highlight__ffyQb .PressArticle_wrapper__CBVQs {
        flex-flow:column
    }

    .PressArticle_element--inline__q19DN .PressArticle_wrapper__CBVQs {
        flex-flow: row-reverse;
        align-items: center;
        padding-bottom: 32px;
        border-bottom: 1px solid #000
    }
}

.PressArticle_element--card__OU4Pe .PressArticle_wrapper__CBVQs {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    height: 100%
}

.PressArticle_element--card__OU4Pe .PressArticle_wrapper__CBVQs .PressArticle_media__JkD87 {
    height: 24rem
}

.PressArticle_element--card__OU4Pe .PressArticle_wrapper__CBVQs .PressArticle_media__JkD87 img {
    object-fit: contain
}

.PressArticle_content__5CI6u {
    display: flex;
    flex-direction: column
}

.PressArticle_content__5CI6u h3 {
    font-weight: 400;
    padding-bottom: 16px
}

.PressArticle_element--highlight__ffyQb .PressArticle_content__5CI6u {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1 1;
    justify-content: flex-start;
    box-sizing: border-box;
    padding: 0 30px
}

.PressArticle_element--highlight__ffyQb .PressArticle_content__5CI6u .PressArticle_title__0h4IF {
    margin-bottom: auto
}

.PressArticle_element--highlight__ffyQb .PressArticle_content__5CI6u .PressArticle_cta__PJZF7 {
    margin-top: auto
}

.PressArticle_element--highlight__ffyQb .PressArticle_content__5CI6u h3:first-child {
    font-weight: 400
}

.PressArticle_element--inline__q19DN .PressArticle_content__5CI6u {
    align-self: flex-start;
    justify-self: flex-start;
    height: 100%;
    padding-top: 0;
    padding-bottom: 32px;
    border-bottom: 1px solid #000
}

.PressArticle_element--inline__q19DN .PressArticle_content__5CI6u .PressArticle_title__0h4IF {
    margin-bottom: auto
}

.PressArticle_element--inline__q19DN .PressArticle_content__5CI6u .PressArticle_cta__PJZF7 {
    margin-top: auto
}

.PressArticle_element--inline__q19DN .PressArticle_content__5CI6u a {
    display: none!important
}

@media(max-width: 1024px) {
    .PressArticle_element--highlight__ffyQb .PressArticle_content__5CI6u {
        padding:0;
        width: 100%
    }

    .PressArticle_element--inline__q19DN .PressArticle_content__5CI6u {
        width: 50%;
        border-bottom: 0;
        padding-bottom: 0
    }
}

.PressArticle_element--card__OU4Pe .PressArticle_content__5CI6u {
    display: flex;
    flex-direction: column;
    flex: 1 1;
    min-height: 19rem;
    padding-top: 0
}

.PressArticle_element--card__OU4Pe .PressArticle_content__5CI6u .PressArticle_title__0h4IF {
    margin-bottom: auto
}

.PressArticle_element--card__OU4Pe .PressArticle_content__5CI6u .PressArticle_cta__PJZF7 {
    margin-top: auto
}

.PressArticle_element--card__OU4Pe .PressArticle_content__5CI6u a {
    display: none!important
}

.PressArticle_title__0h4IF {
    position: relative
}

.PressArticle_element--highlight__ffyQb .PressArticle_title__0h4IF {
    margin: 2.8rem 0
}

.PressArticle_title__0h4IF .PressArticle_element--inline__q19DN {
    align-self: flex-end
}

.PressArticle_element--card__OU4Pe .PressArticle_title__0h4IF {
    font-size: 3.2rem;
    line-height: 4.2rem
}

@media(max-width: 768px) {
    .PressArticle_element--card__OU4Pe .PressArticle_title__0h4IF {
        font-size:4rem;
        font-weight: 400;
        line-height: 6rem
    }

    .PressArticle_element--highlight__ffyQb .PressArticle_title__0h4IF {
        margin-top: 2rem;
        max-width: 60rem
    }
}

.PressArticle_text__nuL7l {
    width: 100%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    -webkit-box-orient: vertical
}

@media(max-width: 1024px) {
    .PressArticle_element--inline__q19DN .PressArticle_text__nuL7l {
        -webkit-line-clamp:2;
        line-clamp: 2
    }
}

.PressArticle_author__Xo8pW {
    position: absolute;
    bottom: 2.4rem;
    display: flex;
    width: 100%
}

.PressArticle_author__Xo8pW .PressArticle_profilePhotos__nL_uQ,.PressArticle_author__Xo8pW .PressArticle_profilePhotos__nL_uQ .PressArticle_profilePhoto__j1K_e {
    width: 5rem;
    height: 5rem
}

.PressArticle_author__Xo8pW .PressArticle_profilePhotos__multiple__Q2SQr {
    position: absolute;
    width: 9.2rem;
    height: 5.4rem;
    bottom: 0
}

.PressArticle_author__Xo8pW .PressArticle_profilePhotos__multiple__Q2SQr .PressArticle_profilePhoto__j1K_e {
    position: absolute;
    top: -.4rem;
    width: 6rem;
    height: 6rem;
    border: .4rem solid #eee7e3;
    background-color: transparent;
    border-radius: 50%
}

.PressArticle_author__Xo8pW .PressArticle_profilePhotos__multiple__Q2SQr .PressArticle_profilePhoto__j1K_e:first-of-type {
    left: -.4rem;
    z-index: 100
}

.PressArticle_author__Xo8pW .PressArticle_profilePhotos__multiple__Q2SQr .PressArticle_profilePhoto__j1K_e:last-of-type {
    left: 3.3rem;
    z-index: 99
}

.PressArticle_author__Xo8pW .PressArticle_authorNames__ZfmWV {
    margin: auto 0 auto 1.6rem;
    display: flex;
    justify-content: flex-start
}

.PressArticle_author__Xo8pW .PressArticle_authorNames__multiple__4xZ8y {
    margin-left: 10.6rem;
    min-height: 4.2rem
}

.PressArticle_author__Xo8pW .PressArticle_authorNames__ZfmWV .PressArticle_authorDetails__JSYnr p {
    font-size: 2rem;
    line-height: 2.8rem
}

.PressArticle_author__Xo8pW .PressArticle_authorNames__ZfmWV .PressArticle_authorDetails__JSYnr p span span {
    padding: 0 .5rem;
    font-weight: 400
}

.PressArticle_author__Xo8pW .PressArticle_authorNames__ZfmWV .PressArticle_authorDetails__JSYnr h4 {
    margin-left: .5rem;
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.8rem
}

.PressArticle_media__JkD87 {
    overflow: hidden;
    position: relative;
    background-color: #000
}

.PressArticle_element--highlight__ffyQb .PressArticle_media__JkD87 {
    flex: 1 1
}

.PressArticle_element--highlight__ffyQb .PressArticle_media__JkD87 .PressArticle_image__6NPWW {
    position: relative
}

.PressArticle_element--highlight__ffyQb .PressArticle_media__JkD87 img {
    height: auto;
    width: 100%
}

.PressArticle_element--card__OU4Pe .PressArticle_media__JkD87,.PressArticle_element--inline__q19DN .PressArticle_media__JkD87 {
    padding-top: 56.25%
}

@media(max-width: 1024px) {
    .PressArticle_element--highlight__ffyQb .PressArticle_media__JkD87 {
        padding-top:56.25%
    }

    .PressArticle_element--highlight__ffyQb .PressArticle_media__JkD87 .PressArticle_image__6NPWW {
        position: absolute
    }

    .PressArticle_element--inline__q19DN .PressArticle_media__JkD87 {
        padding-top: 0;
        width: 50%
    }

    .PressArticle_element--inline__q19DN .PressArticle_media__JkD87 .PressArticle_image__6NPWW {
        position: relative
    }

    .PressArticle_element--inline__q19DN .PressArticle_media__JkD87 img {
        height: auto;
        width: 100%
    }
}

.PressArticle_image__6NPWW {
    object-fit: cover;
    transition: transform 1s cubic-bezier(.77,0,.175,1)
}

.PressArticle_image__6NPWW img {
    object-fit: cover
}

.PressArticle_profile__2CEf4 {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover
}

.Navigation_button__P1PvC:before,.Navigation_logo__AbP0d:after {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%
}

.Navigation_careers__link__6fVmv,.Navigation_list__link__text__Dlgfl {
    overflow: hidden;
    position: relative;
    vertical-align: top
}

.Navigation_careers__link__6fVmv:after,.Navigation_list__link__text__Dlgfl:after {
    background-color: currentColor;
    bottom: 0;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    transition: transform .7s cubic-bezier(.19,1,.22,1);
    width: 100%;
    transform: scaleX(0);
    transform-origin: right center
}

.Navigation_careers__link__6fVmv:hover:after,.Navigation_list__link--active__TwdPb .Navigation_list__link__text__Dlgfl:after,.Navigation_list__link__text__Dlgfl:hover:after {
    transform: scaleX(1);
    transform-origin: left center
}

.Navigation_careers__link__6fVmv,.Navigation_list__link__text__Dlgfl {
    display: inline-block
}

.Navigation_element__nBcVT {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100vw;
    color: #fff;
    z-index: 1000;
    transition: background-color .5s cubic-bezier(.77,0,.175,1),color .5s cubic-bezier(.77,0,.175,1),transform .5s cubic-bezier(.77,0,.175,1)
}

.Navigation_element__nBcVT:after {
    top: 100%;
    left: 0;
    width: 100%;
    height: calc(100vh - 9.7rem);
    content: "";
    opacity: 0;
    background-color: rgba(0,0,0,.5);
    pointer-events: none;
    position: absolute;
    transition: opacity .5s cubic-bezier(.77,0,.175,1)
}

.Navigation_element--bgwhite__sQAMY {
    color: #000
}

.Navigation_element--bgblack__5_eIP {
    color: #fff
}

.Navigation_element--hidden__G1rYY {
    transform: translateY(-100%)
}

.Navigation_element--scrolling__REdPM {
    background-color: #eee7e3;
    color: #000
}

.lattice .Navigation_element--scrolling__REdPM {
    background-color: #000;
    color: #fff
}

.Navigation_element--active__PqW6Q {
    color: #fff
}

.Navigation_element--active__PqW6Q:after {
    opacity: 1
}

.Navigation_element--open__3wGZa {
    color: #fff
}

@media(max-width: 1024px) {
    .Navigation_element__nBcVT {
        pointer-events:none
    }

    .Navigation_element__nBcVT:before {
        background-color: #000;
        content: "";
        height: 15rem;
        left: 0;
        opacity: 0;
        position: absolute;
        top: 0;
        transition: opacity .4s ease;
        width: 100%
    }
}

.Navigation_element--scrolling__REdPM.Navigation_element__bgblack__l_aph {
    background-color: #000;
    color: #fff;
    transition: background-color .5s cubic-bezier(.77,0,.175,1),color .5s cubic-bezier(.77,0,.175,1),transform .5s cubic-bezier(.77,0,.175,1)
}

.Navigation_wrapper__DaHUJ {
    align-items: center;
    border-bottom: 1px solid;
    display: flex;
    justify-content: space-between;
    position: relative;
    transition: border-color .5s cubic-bezier(.77,0,.175,1);
    width: 100%;
    z-index: 3
}

@media(max-width: 1024px) {
    .Navigation_wrapper__DaHUJ {
        border-color:hsla(0,0%,100%,.2)
    }

    .Navigation_element--black__7Bpwq .Navigation_wrapper__DaHUJ,.Navigation_element--scrolling__REdPM .Navigation_wrapper__DaHUJ {
        border-color: #000
    }

    .Navigation_element--open__3wGZa .Navigation_wrapper__DaHUJ,.lattice .Navigation_wrapper__DaHUJ {
        border-color: hsla(0,0%,100%,.2)
    }
}

@media(min-width: 414px)and (max-width:1023px)and (orientation:landscape) {
    .Navigation_wrapper__DaHUJ {
        height:76px
    }
}

.Navigation_logo__AbP0d {
    align-items: center;
    border-right: 1px solid;
    cursor: pointer;
    display: flex;
    font-size: 0;
    height: 9.6rem;
    position: relative;
    justify-content: center;
    width: 28.3rem
}

.Navigation_logo__AbP0d:after {
    background-color: hsla(0,0%,100%,.4);
    content: "";
    transform: scaleY(0);
    transform-origin: top;
    transition: transform .5s cubic-bezier(.77,0,.175,1)
}

.Navigation_logo__AbP0d:hover:after {
    transform: scaleY(1);
    transform-origin: bottom
}

@media(min-width: 1025px)and (max-width:1343px) {
    .Navigation_logo__AbP0d {
        height:68px
    }
}

@media(max-width: 1024px) {
    .Navigation_logo__AbP0d {
        border-right:none;
        height: 15rem;
        pointer-events: auto;
        width: 31rem
    }

    .Navigation_logo__AbP0d:after {
        display: none
    }
}

@media(min-width: 414px)and (max-width:1023px)and (orientation:landscape) {
    .Navigation_logo__AbP0d {
        width:155px
    }
}

.Navigation_logo__icon__vemxV {
    position: relative;
    width: 15rem;
    z-index: 2
}

@media(min-width: 1025px)and (max-width:1343px) {
    .Navigation_logo__icon__vemxV {
        width:105px
    }
}

@media(max-width: 1024px) {
    .Navigation_logo__icon__vemxV {
        transition:none;
        width: 22rem
    }

    .Navigation_logo__AbP0d:hover .Navigation_logo__icon__vemxV {
        color: inherit
    }
}

@media(min-width: 414px)and (max-width:1023px)and (orientation:landscape) {
    .Navigation_logo__icon__vemxV {
        width:110px
    }
}

.Navigation_list__lMoii {
    display: flex;
    margin-right: auto;
    padding-left: 6.3rem;
    padding-right: 5rem
}

@media(max-width: 1024px) {
    .Navigation_list__lMoii {
        display:none
    }
}

@media(min-width: 1440px) {
    .Navigation_list__lMoii {
        padding-left:5rem;
        padding-right: 5rem
    }
}

.Navigation_list__item___E8k1 {
    cursor: pointer;
    list-style-type: none
}

.Navigation_list__item___E8k1:not(:first-child) {
    margin-left: 5.1rem
}

.Navigation_list__link__ZrJFp {
    align-items: center;
    cursor: pointer;
    display: flex
}

.Navigation_list__link--submenu__9Vdtu {
    cursor: pointer
}

@media(min-width: 1025px)and (max-width:1343px) {
    .Navigation_list__link__ZrJFp {
        font-size:14px
    }
}

.Navigation_list__link__text__Dlgfl {
    cursor: pointer;
    white-space: nowrap
}

@media(min-width: 1440px) {
    .Navigation_list__link__text__Dlgfl {
        font-size:16px
    }
}

.Navigation_list__link__icon__nPiWH {
    display: block;
    height: 1.4rem;
    margin-left: 1rem;
    position: relative;
    width: 1.4rem;
    cursor: pointer
}

.Navigation_list__link__icon__nPiWH rect:first-child {
    transform: scaleY(1);
    transform-origin: 0 50%;
    transition: transform .5s ease
}

.Navigation_list__link--active__TwdPb .Navigation_list__link__icon__nPiWH rect:first-child {
    transform: scaleY(0)
}

.Navigation_careers__yo4mc {
    align-items: center;
    border-color: currentcolor;
    border-style: solid;
    border-width: 0 1px;
    display: flex;
    justify-content: center;
    height: 9.6rem;
    width: 21.4rem;
    z-index: 1
}

@media(min-width: 1025px)and (max-width:1343px) {
    .Navigation_careers__yo4mc {
        font-size:14px;
        height: 68px
    }
}

@media(max-width: 1024px) {
    .Navigation_careers__yo4mc {
        display:none
    }
}

.Navigation_careers__link__6fVmv {
    cursor: pointer
}

.Navigation_button__P1PvC {
    align-items: center;
    background-color: #000;
    color: #fff;
    display: flex;
    font-size: 0;
    height: 9.6rem;
    justify-content: center;
    position: relative;
    transition: color .5s cubic-bezier(.77,0,.175,1);
    width: 12rem
}

.Navigation_button__P1PvC:after {
    background-color: currentColor;
    box-shadow: 0 -.8rem 0 currentColor,0 .8rem 0 currentColor;
    content: "";
    display: block;
    height: 2px;
    position: relative;
    width: 4rem;
    z-index: 1
}

.Navigation_button__P1PvC:before {
    background-color: #fff;
    content: "";
    transform: scaleY(0);
    transform-origin: top;
    transition: transform .5s cubic-bezier(.77,0,.175,1)
}

@media(min-width: 1025px)and (max-width:1343px) {
    .Navigation_button__P1PvC {
        height:68px
    }
}

@media(min-width: 769px) {
    .Navigation_button__P1PvC:hover {
        color:#000
    }

    .Navigation_button__P1PvC:hover:before {
        transform: scaleY(1);
        transform-origin: bottom
    }
}

@media(max-width: 1024px) {
    .Navigation_button__P1PvC {
        border-left:1px solid hsla(0,0%,100%,.2);
        height: 15rem;
        pointer-events: auto;
        transition: border-left-color .5s cubic-bezier(.77,0,.175,1);
        width: 18rem
    }

    .Navigation_button__P1PvC:after {
        height: 1px;
        box-shadow: 0 -1.2rem 0 currentColor,0 1.2rem 0 currentColor;
        width: 6rem
    }

    .lattice .Navigation_button__P1PvC {
        border-left-color: hsla(0,0%,100%,.2)
    }
}

@media(min-width: 414px)and (max-width:1023px)and (orientation:landscape) {
    .Navigation_button__P1PvC {
        height:75px;
        width: 90px
    }

    .Navigation_button__P1PvC:after {
        box-shadow: 0 -6px 0 currentColor,0 6px 0 currentColor;
        height: 1px;
        width: 30px
    }
}

.Pages_page__bJvac {
    background-color: #eee7e3;
    min-height: 100vh
}

.Pages_page__bJvac>:nth-last-child(2) {
    margin-bottom: 10rem
}

.Pages_bgblack__pEThU {
    background-color: #000;
    color: #fff
}

.Pages_exitPreview__HgNMs {
    z-index: 9999;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    padding: 2rem 4rem;
    background-color: #2276fc;
    color: #fff;
    font-size: 2rem;
    font-weight: 700
}

.Pages_exitPreview__HgNMs:hover {
    background-color: #04f
}
